<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container" style="width: 100%">
    <p class="navbar-text pull-left">©2020 - JustForFunDeveloper | Version {{version}}</p>
    <div class="navbar-btn btn-group pull-right">
      <a href="https://github.com/JustForFunDeveloper/PortfolioAngularApp"
         class="btn btn-block btn-social btn-github">
        <span class="fa fa-github">
          <img width="70%" class="fa fa-github" src="../../assets/img/GitHub-Mark-Light-32px.png" alt="image">
        </span> GitHub
      </a>
    </div>
  </div>
</div>
